.growth__detail {
    padding-top: 7rem;
}

.header__growth {
    color: rgba(12, 12, 243, 0.596);
}

.growth--detailss {
    padding: 1rem;
    color: rgb(57, 110, 253, 0.85);
    font-size: 1.15rem;
    margin-top: 5rem;
}

.btn__group {
    margin-top: 5rem;
}

.container__images {
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.growthImages {
    margin-top: 8rem;
    
}

.growthImages Button {
    float: right;
    border: 1px solid rgba(56, 56, 247, 0.651);
    background-color: rgba(104, 104, 136, 0.329);
}

.card__image {
    width: 25%;
    height: 35%;
}



