.box__adventureForm {
    margin-top: 10rem;
}

.header__adventureForm {
    padding-bottom: 2rem;
    color: rgba(218, 165, 32, 0.646);
}

.header__participants {
    padding-bottom: 2rem;
    padding-left: 15rem;
    color: rgba(218, 165, 32, 0.646);
}

.input__label {
    margin: 4rem;
}

.input__input {
    margin: 4rem;
}

.input__select {
    width: 10rem;
}

.title__input,
.title__label {
    margin-left: 10rem;
}

.button__group__participants {
    margin-left: 18rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgba(106, 142, 35, 0.721);
}

.container__participants {
    padding-left: 10rem;
}

/* .form__participants {
    border: 2px solid green;
} */