.adventure {
    display: flex;
    flex-direction: column;
    border: 2px solid lightcoral;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(0, 255, 255, 0.428);
    color: rgb(251, 79, 79);
    width: 75%;
}

.adventure__title {
    font-size: 1.25rem;
    font-weight: bolder;
    color: rgb(17, 142, 17);
    text-decoration: underline;
}

.btn__edit, .btn__delete {
    width: 10rem;
    margin: 1rem 0;
    padding: .5rem;
}