.adventures__div {
    border: 2px solid blue;
    padding: 4rem 35% 2rem 35%;
    /* justify-content: center; */
}

.adventure--details {
    display: flex;
    flex-direction: column;
    background: url("../images/man-on-watch.png");
    background-size: 100%;
    border: 2px solid rgb(194, 147, 95);
    border-radius: 3px;
    padding: 1rem;
    color: rgb(57, 110, 253);
    width: 97%;
    font-size: 1.5rem;
}

.adventure__title {
    font-size: 1.75rem;
    font-weight: bolder;
    color: olivedrab;
    margin-bottom: 2rem;
}


.btn__group {
    display: flex;
    justify-content: space-between;
    border: 2px solid orange;
    margin-top: 5rem;
}

.btn__edit, 
.btn__delete,
.btn__return {
    margin: 2rem 0;
    padding: .5rem;
    font-size: small;
    font-weight: 700;
    border: 1px solid rgb(63, 114, 63);
    border-radius: 2px;
    color: rgb(68, 68, 192);
}

.adventure__images {
    margin-top: 10rem;
}

.adventure__images h3 {
    font-size: xx-large;
    margin-bottom: 5rem;
}

.adventure__images input {
    margin-left: 2rem;
}

#adventure_image {
    border: 2px solid rgba(64, 112, 243, 0.575);
    border-radius: 2px;
    padding: .55rem;
    margin-right: 1rem;
}

.adventureImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    align-content: stretch;
    
}

.adventureImage {
    margin: 1rem;
    width: 20%;
}

.adventureImage button {
    float: right;
    border: 1px solid black;
    border-radius: 100%;
    font-size: x-small;
    opacity: .65;
}

.adventureImage img {
    float: right;
    border: 1px solid gray;
    border-radius: 2px;
}

