.container__adventuresList {
    background: url("../images/world-watch-9.png");
}

.div__adventuresList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__adventuresList h1 {
    /* border: 8px solid purple; */
    margin-bottom: 5rem;
    margin-top: 5rem;
    color: olivedrab;
    font-size: 3rem;
}

.adventure {
    border: 2px solid rgba(88, 91, 54, 0.489);
    border-radius: 1px;
    padding: 1rem;
    margin: 1rem .5rem;
    background-color: rgba(143, 150, 94, 0.332);
    color: goldenrod;
}

.adventure__title {
    font-size: 1.25rem;
    font-weight: bolder;
    color: olivedrab;
}


/* STYLING FOR REACT-BOOTSTRAP CARDS */

.card__container {
    padding: 3rem;
    /* border: 2px solid green; */
}

.card__row {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    /* border: 2px solid red; */
    padding: 2rem;
}

.card__col {
    margin: 4rem 1.75rem;
    color: goldenrod;
}

.card__card {
    text-align: center;
}

.card__title {
    padding-bottom: 1.5rem;
}