.adventureImages Button {
    float: right;
    font-size: small;
    background-color: lightslategray;
    opacity: .65;
}


/*  BOOTSTRAP / MATERIAL UI */

/* IMAGES STYLING */

.images__adventure {
    margin-top: 10rem;
}

.images__list {
    margin: 8rem 1rem;
    display: inline;
}

.header__images {
    color: olivedrab;
    padding-bottom: 3rem;
}


/* CARD STYLING */

.card__image {
    /* border: 2px solid green; */
    margin-bottom: 3rem;
}

.adventure__titles {
    font-size: 2.75rem;
    font-weight: bolder;
    color: olivedrab;
}

.adventureImages {
    margin: 8rem 2rem;
}

