.humans__container {
    padding-top: 5rem;
}

.header__humanList {
    font-size: 3rem;
    padding-bottom: 5rem;
    color: olivedrab;
}

.human {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(88, 91, 54, 0.489);
    border-radius: 1px;
    padding: 1rem;
    margin: 1rem .5rem;
    background-color: rgba(143, 150, 94, 0.332);
    color: goldenrod;
    width: 75%;
}

.btn {
    color: olivedrab;
}


/* STYLING FOR REACT-BOOTSTRAP CARDS */

.card__container {
    padding: 3rem;
}
