.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* border: 2px solid greenyellow; */
    font-size: larger;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}
